@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
textarea {
  resize: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  // border: 0;
}
body,
#root {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  height: 100%;
  line-height: 1;
  @apply bg-secondary;
}
.parent-color {
  fill: currentColor; /* Sử dụng màu hiện tại của thẻ cha */
}
.active-bar {
  width: 3%;
  transition: all 0.3s linear;
}
.inactive-bar {
  transition: all 0.3s linear;
}
svg.css-1vooibu-MuiSvgIcon-root {
  fill: #ff7506 !important;
}
.MuiDayCalendar-header span.css-rhmlg1-MuiTypography-root-MuiDayCalendar-weekDayLabel {
  color: #ff7506 !important;
}
button.css-1jsy6pn-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected),
.css-1jsy6pn-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  border: none !important;
  background: #ff7506;
  border-radius: 10px;
  color: #fff;
  &:hover {
    background: #ee6d03ee;
  }
}

button.css-qa7bje-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  border-radius: 10px;
  background: #ff7506 !important;
}

//------------------------scroll bar-----------------------------
/* cho Chrome, Safari và Opera */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #ed7200;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #e49f0c;
}
/* cho Edge */
::-ms-scrollbar {
  width: 5px;
}

::-ms-track {
  background-color: #f1f1f1;
}

::-ms-thumb {
  background-color: #ed7200;
  border-radius: 5px;
}

::-ms-thumb:hover {
  background-color: #e49f0c;
}

.ant-table-cell {
}

.disabled {
  pointer-events: none; /* Disable click events */
  opacity: 0.5; /* Make it visually appear disabled */
}


:where(.css-dev-only-do-not-override-15rg2km).ant-table-wrapper .ant-table-column-title{
  z-index: 0;
}