@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
textarea {
  resize: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  // border: 0;
}
body,
#root {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  height: 100%;
  line-height: 1;
  @apply bg-secondary;
}
.parent-color {
  fill: currentColor; /* Sử dụng màu hiện tại của thẻ cha */
}
.active-bar {
  width: 3%;
  transition: all 0.3s linear;
}
.inactive-bar {
  transition: all 0.3s linear;
}
.custom-calendar .MuiSvgIcon-root{
  fill: #ff7506 ;

}
// svg.css-1vooibu-MuiSvgIcon-root {
// }
.custom-calendar .MuiDayCalendar-header span.MuiDayCalendar-weekDayLabel {
  color: #ff7506;
}
 .custom-calendar button.css-1jsy6pn-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected),
.MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  border: none !important;
  background: #ff7506;
  border-radius: 10px;
  color: #fff;
  &:hover {
    background: #ee6d03ee;
  }
}

.custom-calendar button.MuiPickersDay-root.Mui-selected {
  border-radius: 10px;
  background: #ff7506;
}

//------------------------scroll bar-----------------------------
/* cho Chrome, Safari và Opera */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #ed7200;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #e49f0c;
}
/* cho Edge */
::-ms-scrollbar {
  width: 5px;
}

::-ms-track {
  background-color: #f1f1f1;
}

::-ms-thumb {
  background-color: #ed7200;
  border-radius: 5px;
}

::-ms-thumb:hover {
  background-color: #e49f0c;
}

.disabled {
  pointer-events: none; /* Disable click events */
  opacity: 0.5; /* Make it visually appear disabled */
}
// --------------------CUSTOM TICKET---------------------
.custom-modal-wrap .ant-modal-content{
  padding:  0;
  overflow: hidden;
  border-radius: 30px;
}

// ---------------------------CUSTOM ANTD TABLE------------------
.custom-table {
  position: relative;
  z-index: 0;
  border-collapse: collapse;
}
// bỏ đi border mặc định của antd trong header
.custom-table .ant-table-cell::before {
  display: none;
}
.custom-table .ant-table-thead > tr > th {
  color: white;
  background-color: #ff9138;
  font-weight: bold;
}
// thêm border cho bảng
.custom-table .ant-table-thead > tr > th,
.custom-table .ant-table-tbody > tr > td {
  border: 1px solid #ffe3cd;
}
// màu dòng lẽ
.custom-table .ant-table-tbody > tr:nth-child(odd) {
  background-color: #fff2e7;
}

// màu dòng chẵn
.custom-table .ant-table-tbody > tr:nth-child(even) {
  background-color: #fff;
}

// điều chỉnh pagination
.custom-pagination > li.ant-pagination-item.ant-pagination-item-active  {
  /* Ví dụ: */
  background-color: #FF7506;
  border: 1px solid #FF7506;
}
.custom-pagination > li.ant-pagination-item.ant-pagination-item-active a{
  color: #fff
}


// ---------------custom modal logout------------

.custom-modal-logout .ant-modal-content{
  border-radius: 25px;
  height: 400px;
  width: 800px;
  display: flex;
  display: flex;
  flex-direction: column;
  background: #FCFCFE;
  justify-content: space-between;
  // position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,10%);
  .ant-btn-primary{
    background: #FF7506;
  }
}